# Experiments with Rytch: They Work For You
Let's have a play.

In [2]:
# TWFY
TWFY_API_KEY = "BXXmLuAdj8GoAReftgCenqE3"

TWFY_API_URL = "http://www.theyworkforyou.com/api/"
API_OUTPUT = "js"
import requests as rq

def twfy_api(endpoint, params):
    """Construct API url from inputs"""
    url = "{}{}".format(TWFY_API_URL, endpoint)
    params['key'] = TWFY_API_KEY
    if 'output' not in params:
        params['output'] = API_OUTPUT
    response = rq.get(url, params)
    return response

In [3]:
person = twfy_api('getPerson',{'person':'24709'})

In [5]:
mps_resp = use_api('getMPs', {})
mps_resp

In [15]:
import pandas as pd

mps_df = pd.DataFrame.from_records(mps_resp.json())

In [21]:
mps_df.set_index('person_id', inplace=True)

In [22]:
mps_df.head()

,constituency,member_id,name,office,party
person_id,,,,,
24709,Houghton and Sunderland South,40706,Bridget Phillipson,"[{'position': 'Member', 'dept': 'Speaker's Com...",Labour
24710,Sunderland Central,40707,Julie Elliott,"[{'position': 'Member', 'dept': 'Culture, Medi...",Labour
11592,Washington and Sunderland West,40708,Sharon Hodgson,"[{'position': 'Shadow Minister (Education)', '...",Labour
24870,North Swindon,40709,Justin Tomlinson,[{'position': 'Parliamentary Under-Secretary o...,Conservative
11771,Putney,40710,Justine Greening,[{'position': 'The Secretary of State for Inte...,Conservative

In [41]:
# Let's get Bridget's speeches
bridget_id = mps_df.index[0]
query_params = {
    'type': 'commons',
    'order': 'd',
    'person': bridget_id,
    'num': 1000
}
bridgets_debates = use_api('getDebates', query_params)

In [42]:
debs_df = pd.DataFrame.from_records(bridgets_debates.json()['rows'])

In [55]:
import indicoio as indy
sents = indy.sentiment(list(debs_df.extract)[:100])
debs_df['sentiment_score'] = indy.sentiment_hq(debs_df.extract.tolist())

In [58]:
happytimes = debs_df.sentiment_score > 0.5
sadtimes = debs_df.sentiment_score < 0.5

In [59]:
sum(happytimes)

139

In [60]:
sum(sadtimes)

70